/* Centralizar e ajustar o tamanho do container */
#quiz-container {
    max-width: 540px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-bar-container {
    background-color: #e9ecef;
    border-radius: 10px;
    height: 6px;
    width: 100%;
    margin: 0 1rem;
}

.progress-bar {
    background-color: #4364f7;
    height: 6px;
    width: 100%;
    border-radius: 10px;
}

.option {
    background-color: #fff;
    border: 2px solid #6c757d;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #f1f3f5;
}

.option.correct {
    background-color: #4364f7;
    color: #fff;
    border-color: #4364f7;
}

.nav-btn {
    background-color: transparent;
    border: none;
    color: #4364f7;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-btn:hover {
    color: #304190;
}

.question-container {
    text-align: center;
}

.question-text {
    font-size: x-large;
}

/* Para dispositivos menores */
@media (max-width: 540px) {
    #quiz-container {
        padding: 10px;
    }

    .progress-bar-container {
        margin: 0;
    }

    .nav-btn {
        font-size: 1.2rem;
    }
}